<div class="mw-web4-panel">
    <h2>{{title}}</h2>

    {{#description}}
    <p>{{description}}</p>
    {{/description}}

    <ul>
    {{#projects}}
        <li>
            <a href="{{url}}">{{name}}</a>
        </li>
    {{/projects}}
    </ul>
</div>
